<div id="typeahead">
<%= form_tag office_hours_path, method: 'GET', class: 'form-inline' do %>
	<%= text_field_tag :query, params[:query], class: 'typeahead form-control', placeholder: 'Building or Department', autocomplete: 'off' %>
	<%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
