<form class="form-inline" role="search">
	<div class="form-group searchbox">
		<label for="searchfield" class="sr-only">Search</label>
		<input type="text" id="searchfield" class="form-control" placeholder="Building?">
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>