<div class='row'>
  <div class='col-xs-12'>
    <h4>Results</h4>
    <table class="table table-responsive">
      <% @open_hours.each do |h| %>
        <tr class 'hour'>
					<td><%= h.member_fullname %></td>
					<td><%= h.building_fullname %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
        
