<div class='row'>
  <div class='col-xs-12'>
		<h4>Open Office Hours:</h4>
    <table class="table ">
      <% @open_hours.each do |h| %>
        <tr class 'hour'>
					<td>
						<ul>
							<li><%= h.building_fullname %></li>
							<li><%= h.office.door_number %></li>
						</ul>
					</td>
					<td>
						<ul>
							<li><%= h.member_fullname %></li>
							<li><%= h.department_name %></li>
						</ul>
					</td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
        
