<h1>Admin::Departments#edit</h1>
<p>Find me in app/views/admin/departments/edit.html.erb</p>
<%= form_for [:admin, @department] do |d| %>
  <%= d.text_field :name %>
  <%= d.text_field :abbrev %>
  <%= d.submit 'Submit' %>
<% end %>
