
$break-small: 320px;
$break-large: 1200px;


#logout {
  line-height: 45px;
}

body {
  background-color: #f5f8fa;
}


/* Search Boxes */
.navbar {
  border-bottom: 1px solid #e1e8ed;
}

.search_button {
  background: none;
  border: 0;
}

.search_box {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.form-inline .form-control {
  width: auto;
  display: inline-block;
}

.form-inline .form-group {
  display: inline-block;
}

// Office Hours Index

.hourtable {
  border-collapse: separate;
  border-spacing: 0;

  tr:first-child td:first-child {
    border-top-left-radius: 10px;
  }

  tr:first-child td:last-child {
    border-top-right-radius: 10px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
}

.hour {
  background-color: white;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;

  td {
    border: none;
  }

  tr {
    height: 100px;
  }

  ul {
    list-style: none;
  }

  .building {
    height: 120px;
    width: 120px;

    .building_thumb {
      border-radius: 50%;
      height: 70px;
      margin: auto;
      overflow: hidden;
      padding: 0;
      position: relative;
      width: 70px;


      img {
        height: auto;
        min-height: 70px;
        min-width: 70px;
        width: auto;

      }
    }

    .building_name {
      font-weight: bold;
      text-align: center;
    }
  }

  .member_info {
    .countdown {
      color: #8899a6;
      font-size: 13px;
      font-weight: lighter;
      padding-left: 8px;
      text-align: left;
      }

    ul {
      padding-left: 2px;
      }

    .member_name {
      font-weight: bold;

      @media (max-width: $break-small){
        font-size: 10px;
      }

      @media (min-width: $break-large){
        font-size: 20px;
      }
    }

    @media (max-width: $break-small){
      font-size: 5px;
      min-width: 300px;
    }

    @media (min-width: $break-large){
      font-size: 15px;
      min-width: 300px;
    }
  }
}

/* Admin Member Panel */

.member-table {
  background: white;
}

.btn-file {
  overflow: hidden;
  position: relative;
}

input#search {
  line-height: 1.5;
  margin-bottom: 0;
  padding-top: 5px;
  vertical-align: middle;
  width: 230px;
}

.btn-file input[type=file] {
  background: white;
  cursor: inherit;
  display: block;
  filter: alpha(opacity = 0);
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.member_row {
  ul {
    list-style: none;
    padding-left: 0;
  }
}



