
$break-small: 320px;
$break-large: 1200px;


ul { 
	list-style: none;
}


tr {
	height: 100px;
}

.hour {
	.building {
		width: 100px;
		height: 100px;
	
		img {
			height: auto;
			width: 100px;
		}

		.building_thumb {
			height: 100px;
			width: 100px;
			overflow: hidden;
		}
		.building_name {
			text-align: center;
		}
	}

	.member_info {

		.member_name {
			font-weight: bold;
			@media (max-width: $break-small){
				font-size: 10px;
			}
			@media (min-width: $break-large){
				font-size: 20px;
			}
		}

		@media (max-width: $break-small){
			font-size: 5px;
			min-width: 300px;
		}

		@media (min-width: $break-large){
			font-size: 15px;
			min-width: 300px;
		}
	}
	.timer {
			text-align: center;
		.countdown {
			text-align: center;
		}
	}
}



