

ul { 
	list-style: none;
}

.member_name {
	font-weight: bold;
	font-size: 1.5em;
}

img {
	height: auto;
	width: 130px;
}

.building_thumb {
	height: 100px;
	width: 130px;
	overflow: hidden;
}

.building {
	width: 130px;
	height: 125px;
}

tr {
	height: 100px;
}

.building_name {
	text-align: center;
}

.member_info {
	max-width: 80px;
}
