<nav class="navbar navbar-default row">
	<div class="col-xs-10 navbar-header">
		<span class="navbar-brand">Organizer</span>
	</div>
	<div class="col-xs-2" id="logout">
		<% if user_signed_in? %>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
		<% end %>
	</div>
</nav>
